<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - BuffGuide</title>
</head>
<body>
<div class="d-flex flex-row">
    <div id="map-canvas"></div>
    <script>
        var map;
        function initMap(){
        console.log('called');
            map = new google.maps.Map(document.getElementById("map-canvas"), {
          center: {lat: 40.0075851, lng: -105.2681357},
          zoom: 15
        });
        };
    </script>
    <div>
        <table class="table" id="classesTable">
            <tr><th>Classes</th></tr>
            {% if classes %}
            {%for class in classes%}
                <tr class = "classRow" id={{class["classBuilding"]+"_"+class['classID']}}><td>{{class["classDept"]}}</td><td><button class="rcbutton">X</button></td></tr>
            {%endfor%}
            {% endif %}
        </table>
    </div>
    <div><button type="button" class="btn-primary" id="directionsButton">Directions</button></div>
    {% if g.user %}
    <div><a class="button" href="/logout">Logout</a></div>
    {%else%}
    <div><a class="button" href="/login">Login</a></div>
    <div><a class="button" href="/register">Register</a></div>
    {%endif%}
</div>
<div><li><span>{{g.user['userName']}}</span></li></div>
{%block content%}{%endblock%}
<div class="d-flex flex-column">
    <form>
   <div class="form-group">
       <select class="form-control" id="se1">
           <option>Select Department</option>
           {% for dept in departments %}
            <option>{{dept['classDept']}}</option>
           {% endfor%}
       </select>
       <select class="form-control" id="se2" style="visibility:hidden">
           <option>Select Course Level</option>
           <option>1000</option>
           <option>2000</option>
           <option>3000</option>
           <option>4000</option>
       </select>
       <select class="form-control" id="se3" style="visibility:hidden">
           <option>Select Course</option>

       </select>
       <button class="btn btn-primary" id="submitClass" type="button">Submit</button>
    </div>
    </form>
</div>
<script src="{{ url_for('static', filename='myScript.js')}}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3CjphaJ3JHXHFK9pgOppj-LQClA1KxIk&v=weekly&use_slippy=true&callback=initMap"
async defer></script>


</body>
</html>